# Node
node_modules/
npm-debug.log*

# Expo
.expo/
.expo-shared/

# Environment files
.env
.env.*
backend/.env
ml-service/.env

# Python
venv/
__pycache__/
*.pyc

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db